<?xml version="1.0" encoding="UTF-8"?>
<!-- "[...] the syntax of logback configuration files is extremely flexible.
As such, it is not possible to specify the allowed syntax with a DTD file or an XML schema." -->

<!-- java -Dlogback.configurationFile=/path/to/config.xml -->
<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>subcentral-core.log</file>
		<encoder>
			<pattern>%date %-5level [%thread] %logger [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %class{5}:%method\(\) %msg%n</pattern>
		</encoder>
	</appender>

	<!-- The level of the root level is set to DEBUG by default. -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
