<submanager-migration-settings>
	<contributionTypes>
		<contributionType type="TRANSCRIPT" pattern="\b(VO von|VO by|Transcript|Subs)\b" />
		<contributionType type="TIMINGS" pattern="\b(Timings|Timings|Sync|Synced|Synchro|Sync's|Syncs)\b" />
		<contributionType type="TRANSLATION" pattern="\b(Übersetzung|Übersetzer|Übersetzt|Subbed by|Untertitel)\b" />
		<contributionType type="REVISION" pattern="\b(Korrektur|Korrekturen|Korrekturleser|Korrigiert|Revised by|Re-revised by|Überarbeitung|Überarbeitet|Corrected)\b" />
		<contributionType type="ADJUSTMENT" pattern="\b(Anpassung|Anpasser|Angepasst|Adjusted by)\\b" />
		<contributionType type="" pattern="\b(Special Thx to)\b" />
	</contributionTypes>
	<knownContributors>
		<knownContributor>Randall Flagg</knownContributor>
		<knownContributor>The old Man</knownContributor>
		<knownContributor>JW 301</knownContributor>
		<knownContributor>-TiLT- aka smizz</knownContributor>
		<knownContributor>smizz aka -TiLT-</knownContributor>
		<knownContributor>Kami Cat</knownContributor>
		<knownContributor>Iulius Monea</knownContributor>
	</knownContributors>
	<knownNonContributors>
		<knownNonContributor>und</knownNonContributor>
		<knownNonContributor>and</knownNonContributor>
		<knownNonContributor>from</knownNonContributor>
		<knownNonContributor>von</knownNonContributor>
		<knownNonContributor>by</knownNonContributor>
	</knownNonContributors>
	<contributorReplacers>
		<replacer pattern="" replacement="" />
	</contributorReplacers>
</submanager-migration-settings>